*{
    margin: 0;
    padding: 0;
    outline: none;
    padding: 0;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.main{
    width: 104%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(asset/images/background\ image.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 100%;
    float: left;
    height: 70px;
    background:rgba(0, 0, 0, 0.4);
    opacity: 2;
    position: fixed;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 250px;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}





.content{
    width: 100%;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.0px;
    line-height: 30px;
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.content h1{
    font-family: 'Times New Roman';
    font-size: 44px;
    padding-left: 20px;
    margin-top: 5%;
    letter-spacing: 10px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 160px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    letter-spacing: 0.3px;
    font-size: 50px
}
.data{
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 380px;  
    border-radius: 10px;
    left: 700px;
    background: orange;
    top: -340px;
}
.data::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 380px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;

}
.data::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 380px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;

}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderline::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 380px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderline::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 380px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
.form{
    background: black;
    /* background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%); */
    position: absolute;
    border-radius: 10px;
    padding: 25px;
    inset: 4px;
    z-index: 2;
}   
.form i{
    position: absolute;
    margin-left: -1rem;
    top: 50%;
    color: #ccc;
    transform: translateY(-50%);
    cursor: pointer;
}
.data .form i.active::before{
    content: '\f070';
    color: #333;
}

/* .signup form */
.box{
    position: relative;
    overflow: hidden;
    width: 800px;
    right: 130px;
    height: 400px;
    top: 50px;
    background: orange;
    border-radius: 10px;
}

.form-singup{
    position: absolute;
    background: #000;
    border-radius: 10px;
    padding: 30px;
    inset: 4px;
    z-index: 2;
}
.hero{
    display: flex;
}

.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 380px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;

}
.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 380px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;

}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderline::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 380px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderline::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 380px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
 
.form-singup h2{
    width: 220px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #ff7200;
    font-size: 22px;
    background-color: black;
    border-radius: 10px;
    padding: 8px;
}
.signup{

    display: flex;
    gap: 1;
}
.form-singup input{
    width: 200px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    gap: 3rem;
}

.form-singup input:focus{
    outline: none;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 20px;
    background-color: #000;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    display: grid;
    place-items: center;
    margin-right: auto;
    margin-left: auto;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form-singup .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    color: #ccc;
    text-align: center;
    margin-right: 30px;
}
.form-singup .link a{
    text-decoration: none;
    color: #ff7200;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    color: #ccc;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.form-singup .passcode i{
    position: absolute;
    margin-left: -1.5rem;
    top: 47%;
    color: #ccc;
    transform: translateY(-50%);
    cursor: pointer;
}
.form-singup .passcode span i{
    margin-left: -1.5rem;
    top: 30%;
    color: #ccc;
    transform: translateY(-50%);
    cursor: pointer;
}
.box .form-signup .passcode i.active::before{
    content: '\f070';
    color: #333;
}

/* services.html */

.main-ser{
    width: 100%;
    background:rgb(50, 47, 47);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .search{
    width: 100%;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.srch{
    font-family: 'Times New Roman';
    width: 60%;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    color: #fff;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.srch:focus{
    outline: none;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}
